.navbar_container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: rgb(92, 212, 225);
    padding: 0px 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 100%;
        height: 100%;

        img {
            max-width: 100px;
        }

        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            li {
                margin: 0 10px;

                a {
                    font-size: 18px;
                    text-decoration: none;
                    color: black;
                    position: relative;

                    &::before {
                        /* Merged into one selector */
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: rgb(255, 255, 255);
                        transition: width 0.3s ease;
                    }

                    &:hover::before {
                        /* Added hover selector */
                        width: 100%;
                    }
                }
            }
        }

        .menu_bar {
            display: none;
            cursor: pointer;
            font-size: 32px;
        }

        .aside_menu {
            display: none;
        }

        .aside_menu_layer {
            display: none;
        }
    }
}


@media only screen and (max-width: 1100px) {
    .navbar_container {
        padding: 0 50px;

        header nav ul li {
            margin: 0 7px;
        }
    }
}


@media only screen and (max-width: 920px) {
    .navbar_container {
        padding: 0 50px;

        header nav ul li a {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 830px) {
    .navbar_container {
        header nav {
            display: none;
        }

        header .menu_bar {
            display: block;
        }

        header .aside_menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 70px;
            right: 0;
            width: 270px;
            background-color: rgba(92, 212, 225, 0.785);
            padding: 20px;
            gap: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 100;
            transition: all 0.3s ease;
            list-style-type: none;
            border-radius: 0 0 0 20px;
            margin: 0;
            animation: menu-slide-in 0.5s ease;

            @keyframes menu-slide-in {
                from {
                    transform: translateX(100%);
                }
                to {
                    transform: translateX(0);
                }
            }

            li {
                margin: 0;
                text-align: center;
                a{
                    text-decoration: none;
                }
            }
        }

        header .aside_menu_layer{
            display: block;
            position: fixed;
            top: 70px;
            left: 0;
            width: 100vw;
            height: calc(100vh - 70px);
            background-color: rgba(0, 0, 0, 0.027);
            z-index: 2;
        }
    }
}

@media only screen and (max-width: 450px) {
    .navbar_container {
        padding: 0 20px;
    }
}
